/*
light pink: #FDC5F5
pink: #F7AEF8
purple: #B388EB
blue: #8093F1
light blue: #72DDF7
*/


body {
  background-color: #FDC5F5;
}

h2 {
  color: #8093F1;
}

.work {
  color: #B388EB;
}

.education {
  color: #8093F1;
}
